/**
 * @file
 * Styles for the media library.
 *
 * The display and layout of the Media browser assumes Drupal's Seven theme as
 * the theme active when this is displayed.
 */

/* jQuery UI Resets */
#media-tab-media_picasa {
  padding: 0;
  border-bottom: none;}

#media-picasa-form #edit-submit,
#media-picsaa-form .loading,
#media-picasa-form.filepicker-loading #mediapicasa {
  /*display: none;*/
}

#media-picasa-form.filepicker-loading,
#mediapicasa{
  width: 99%;
  min-width: 500px;
  height: 420px;
  border: none;}

#media-picasa-form .loading{
  display: none;}

#media-picasa-form.picasa-loading .loading{
  display: block;
  font-family: 'ProximaNova', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  padding-top: 15%;
  height: 100%;
  width: 100%;
  font-size: 4em;
  line-height: 1.2em;
  text-align: center;}

.ui-dialog.media-wrapper {
  width: 800px !important;}

.img-select{
  border: 1px solid #000000 !important;
  cursor: pointer;}

.img-deselect{
  border: none;
  cursor: pointer;}
  
.picasaPics, div.form-item-picasalbum {
	padding: 10px;
}
